<nb-card>

  <label class="search-label" for="search">Search:</label>
  <input nbInput id="search" class="search-input">
  <kendo-treeview
            [nodes]="data"
            textField="text"
            kendoTreeViewExpandable
            kendoTreeViewSelectable
            kendoTreeViewHierarchyBinding
            childrenField="items">
        </kendo-treeview>
</nb-card>
