<nb-card style="max-width: 40em;">
  <nb-card-header class="text-center">
    Sửa mới đơn vị
    <nb-icon icon="close-square-outline" style="float: right;cursor: pointer;" (click)="cancel()"></nb-icon>
  </nb-card-header>
  <nb-card-body>
    <div class="noidung row">
      <div class="col-lg-12 form-group">
        <label class="col-lg-2 control-label">Mã đơn vị</label>
        <div class="col-lg-10">
          <input type="text" [(ngModel)]="areasAdd.codeAreas" fieldSize="small" nbInput fullWidth>
        </div>
      </div>
      <div class="col-lg-12 form-group">
        <label class="col-lg-2 control-label">Tên đơn vị</label>
        <div class="col-lg-10">
          <input type="text" [(ngModel)]="areasAdd.nameAreas" fieldSize="small" nbInput fullWidth>
        </div>
      </div>
      <div class="col-lg-12 form-group">
        <label class="col-lg-2 control-label">Đơn vị cha</label>
        <div class="col-lg-10">
          <input type="text" [(ngModel)]="areasAdd.parenAreas" fieldSize="small" nbInput fullWidth>
        </div>
      </div>
      <div class="clearfix">
        <div class="col-lg-6 form-group">
          <label class="col-lg-4 control-label">Hiệu lực từ</label>
          <div class="col-lg-8 icon-show">
            <input fullWidth="true" fieldSize="small" nbInput [(ngModel)]="datasearch" [nbDatepicker]="formpicker">
            <nb-datepicker (dateChange)="onEventStartEndRange($event)" format="dd/MM/yyyy" #formpicker></nb-datepicker>
           </div>
        </div>
        <div class="col-lg-6 form-group">
          <label class="col-lg-4 control-label">Hiệu lực đến</label>
          <div class="col-lg-8">
            <input fullWidth="true" fieldSize="small" nbInput [(ngModel)]="datasearch" [nbDatepicker]="formpicker">
            <nb-datepicker (dateChange)="onEventStartEndRange($event)" format="dd/MM/yyyy" #formpicker></nb-datepicker>
          </div>
        </div>
      </div>
    </div>

  </nb-card-body>
  <nb-card-footer>
    <button class="cancel sizebtn" style="float: left;" nbButton size="small" (click)="cancel()">Cancel</button>
    <button class="sizebtn" nbButton style="float: right;" status="info" size="small" (click)="submit()">Ok</button>
  </nb-card-footer>
</nb-card>
