@import '../../../pages/pages.component.scss';
@import '../../../pages/forms/form-inputs/form-inputs.component.scss';

nb-card-body {
  overflow: visible;
  padding-top: 0;

  > * {
    margin-top: 1rem;
  }
}

