<nb-card style="max-width: 40em;">
  <nb-card-header class="text-center">
    {{title}}
    <nb-icon icon="close-square-outline" style="float: right;cursor: pointer;" (click)="cancel()"></nb-icon>
  </nb-card-header>

  <ng-content></ng-content>
</nb-card>

