@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card-body {
    display: block;

    button {
      width: 100%;
      margin-bottom: 2rem;
      display: block;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .result-from-dialog {
    flex-direction: column;
  }

  .form-input-card {
    nb-card-body {
      display: block;
    }
  }

  @include media-breakpoint-down(lg) {
    button {
      padding: 0.8rem;
    }
  }

  @include media-breakpoint-down(is) {
    button {
      padding: 0.75rem;
    }
  }

}
@include nb-install-component() {
  input {
    width: 100%;
  }

  .cancel {
    margin-right: 1rem;
  }
}
.noidung{
  margin-top: 20px;
}
.sizebtn{
  width: 100px;
}
.clearfix {
  display: flex;
}
.test{
  background: red;
}

