@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
  input {
    width: 100%;
  }

  .cancel {
    margin-right: 1rem;
  }
}
.noidung{
  margin-top: 20px;
}
.sizebtn{
  width: 100px;
}
.clearfix {
  display: flex;
}
