<ngx-popup  title="Xoá đơn vị">
  <nb-card-body>
    <div class="noidung row text-center">
      Bạn có chắc chắn xoá đơn vị này cùng toàn bộ đơn vị con tương ứng
    </div>

  </nb-card-body>
</ngx-popup>
