@import '../../../pages/pages.component.scss';
@import '../../../pages/forms/form-inputs/form-inputs.component.scss';

nb-card-body {
  overflow: visible;
  padding-top: 0;

  > * {
    margin-top: 1rem;
  }
}

.full-name-inputs,
.validation-checkboxes {
  display: flex;
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}

.checkbox-radio {
  display: flex;
}
input.input-full-width.size-small.status-basic.shape-rectangle.nb-transition.ng-untouched.ng-pristine.ng-valid {
  cursor: pointer;
}
.demo-items {
  flex: 1 0 33%;
}


button#erase {
  padding: 0 0 0 4%;
  right: 15px;
  width: 15%;
  position: absolute;
  border: none;
  display: inline;
  border-left: 1px solid gray;
  height: 100%;
  text-align: center;
  justify-content: center;

}

.form-group {
  display: flex;
  align-items: center;
}

