<input [attr.disabled]="disabled" (keyup)="onKey($event)" [(ngModel)]="values" nbInput
       fullWidth fieldSize="small" class="input-full-width size-small status-basic shape-rectangle nb-transition">
<button id="erase">
  <nb-action class="control-item" icon="{{icon}}" title=""></nb-action>
</button>
