nb-card-body {
  overflow: visible;
  padding-top: 0;

  > * {
    margin-top: 0rem;
  }
}
nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 0!important;
}
.search-target{
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.total{
  margin-top: 1rem;
}
.date {
  width: 100px;
}
.form-group {
  display: flex;
  align-items: center;
}
.hidenboder{
  border: 0;
  background: white;
}
div#mat-menu-panel-0 {
  background: aqua;
}
button#search_date {
  padding: 0 0 0 4%;
  right: 15px;
  width: 15%;
  position: absolute;
  border: none;
  display: inline;
  border-left: 1px solid gray;
  height: 100%;
  text-align: center;
  justify-content: center;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}


.icon-show {
  position: relative;
}



input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
  padding: 0;
  overflow: hidden;
  opacity: 0;
}

#findParam {
  width: 150px;
  color: black;
}

.clearfix {
  display: flex;
}

.control-label {
  padding: 0 0;
  margin: 0 0;
}

.form-group {
  display: flex;
  align-items: center;
}

.full-name-inputs,
.validation-checkboxes {
  display: flex;
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}

.checkbox-radio {
  display: flex;
}

.demo-items {
  flex: 1 0 33%;
}
.customize+* .mat-menu-panel {
  background: red;
}

.mat-menu-content {
  background-color: 'red' !important;
}
