<script src="../search_target.module.ts"></script>
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Tra cứu chỉ tiêu</nb-card-header>
      <nb-card-body class="total">
        <!-- <div class="search-target">
          <div class="clearfix">
            <div class="col-lg-6 form-group">
              <label class="col-lg-4 control-label">Nhóm biểu đồ</label>
              <div class="col-lg-8">
                 <nb-select placeholder="-- Chọn nhóm biểu đồ --" class="size-small status-basic shape-rectangle nb-transition" (selectedChange)= "openWindowSearch(contentSearchTemplate)" (selected)="data" [(ngModel)]="data" fullWidth size="small" class="position-select">
                    <nb-option  *ngFor="let p of positions" [value]="p">{{ p.name }}</nb-option>
                  </nb-select>
              </div>
            </div>
            <div class="col-lg-6 form-group">
              <label class="col-lg-4 control-label">Nhóm ngành</label>
              <div class="col-lg-8">
                <nb-select placeholder="-- Chọn nhóm ngành --" class="select-tiny-placeholder-text-font-size size-small status-basic shape-rectangle nb-transition" (selectedChange)= "selectValue()"
                (selected)="department" [(ngModel)]="department"
                fullWidth size="small" class="position-select">
                  <nb-option  *ngFor="let p of departments" [value]="p">{{ p.name }}</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-lg-6 form-group">
              <label class="col-lg-4 control-label">Đơn vị</label>
              <div class="col-lg-8 icon-show" (click)="openWindow(contentTemplate)">
                <ngx-auto-search></ngx-auto-search>

              </div>
            </div>
            <div class="col-lg-6 form-group">
              <label class="col-lg-4 control-label">Chỉ tiêu kinh doanh</label>
              <div class="col-lg-8">
                <input type="text" nbInput fullWidth fieldSize="small">
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-lg-6 form-group">
              <label class="col-lg-4 control-label">Thời gian</label>
              <div class="col-lg-8">
                <input fullWidth="true" (keyup)="onKey($event)" nbInput placeholder="Pick Date" [(ngModel)]="datasearch" onkeyup="" [nbDatepicker]="formpicker">
        <nb-datepicker (dateChange)="onEventStartEndRange($event)" format="dd/MM/yyyy" #formpicker></nb-datepicker>
               //  <input type="date" class="date" data-role="date" nbInput fullWidth fieldSize="small"> -->
              <!-- </div>
            </div>
          </div>
          <div class="row clearfix col-md-6 offset-md-3">
            <div class="col-lg-12 text-center">
               (click)="openWindowSearch(contentSearchTemplate)"
              <button type="submit" id="findParam"  nbButton
                      status="info" >Tra cứu
              </button>
            </div>
          </div>
        </div> -->

        <div class="tren" style="display: flex; margin-bottom: 0.5em;">
          <div class="col-md-4 col-lg-4 col-xl-6">

          </div>
          <div class="col-md-2 col-lg-2 col-xl-2">
            Hiệu lực từ
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2">
          Hiệu lực đến
          </div>
          <div class="col-md-2 col-lg-2 col-xl-1">
          </div>
          <div class="col-md-2 col-lg-2 col-xl-1">
          </div>
        </div>
        <div class="duoi" style="display: flex;">
          <div class="col-md-4 col-lg-4 col-xl-6">
            <nb-form-field>
              <input type="text" nbInput fullWidth fieldSize="small">
                 <nb-icon nbPrefix icon="search-outline" pack="eva">
                  <button nbButton   size="small" style="background: red; cursor: pointer;">
                  </button>

                 </nb-icon>

            </nb-form-field>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2">
             <input fullWidth="true" type="date" (keyup)="onKey($event)" fieldSize="small"
             fullWidth nbInput [(ngModel)]="datasearch" onkeyup="" [nbDatepicker]="formpicker">
             <!-- <nb-datepicker (dateChange)="onEventStartEndRange($event)" format="dd/MM/yyyy" #formpicker></nb-datepicker> -->
             <!-- <input type="date"> -->
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2">
            <input fullWidth="true" (keyup)="onKey($event)"  fieldSize="small" fullWidth nbInput placeholder="dd/MM/yyyy" [(ngModel)]="datasearch" onkeyup="" [nbDatepicker]="formpicker">
             <nb-datepicker (dateChange)="onEventStartEndRange($event)" format="dd/MM/yyyy" #formpicker></nb-datepicker>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-1">
            <button  nbButton fullWidth  size="small" style="font-size: 0.65rem;" status="info">Tìm kiếm</button>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-1">
            <button  nbButton fullWidth  size="small"style="font-size: 0.65rem;" status="info"(click)="open()">Thêm mới</button>
          </div>
        </div>

        <div class="tes">
          <div class="col-lg-8 icon-show">
            <button id="erase"  mat-button [matMenuTriggerFor]="menu">
              <nb-action class="control-item" icon="{{icon}}" title=""></nb-action>
            </button>
              <mat-menu backdropClass="customize" #menu="matMenu" xPosition="before" style="background: red;">
                <button *ngFor="let status of dulieu" style="float: right;" (click)="onClickEditDel(status)"   mat-menu-item>{{status.name}}</button>
              </mat-menu>
          </div>
        </div>
        <button nbButton status="success" (click)="openRandomToast()">Random toast</button>

        <!-- <iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe"></iframe> -->

<!--
        <jqxTreeGrid [theme]="'material'" #myTreeGrid
           [source]="dataAdapter" [columns]="columns">
        </jqxTreeGrid> -->

        <!-- <div class="col-md-12 col-lg-6">
          <nb-card size="small">
            <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
          </nb-card>
        </div> -->
        <!-- <div class=""> -->
          <!-- <h6>Chọn biểu đồ hiển thị</h6>
        <div class="" style="display: flex">
          <div class="col-lg-1" *ngFor="let chart of list_chart"
           (click)="onSelect(chart)">
            <button class="hidenboder">
              <img [src]="chart.imege" height="50px" width="50px"/>
              <p style="font-size: 8px">{{chart.name}}</p>
            </button>
          </div>
        </div>
        <div class="col-lg-12 chart" [ngSwitch]="chart.code">
            <nb-card *ngSwitchCase=1 class="details">
              <nb-card-header>{{chart.name}}</nb-card-header>
              <nb-card-body>
                <ngx-echarts-pie></ngx-echarts-pie>
              </nb-card-body>
            </nb-card>
            <nb-card *ngSwitchCase=2 class="details">
              <nb-card-header>{{chart.name}}</nb-card-header>
              <nb-card-body>
                <ngx-echarts-line></ngx-echarts-line>
              </nb-card-body>
            </nb-card>
            <nb-card *ngSwitchCase=3 class="details">
              <nb-card-header>{{chart.name}}</nb-card-header>
              <nb-card-body>
                <ngx-echarts-bar></ngx-echarts-bar>
              </nb-card-body>
            </nb-card>
        </div>
      </div> -->
      </nb-card-body>
    </nb-card>
  </div>
</div>
<ng-template #contentSearchTemplate let-data>
  <div class="" style="min-height: 70vh;
  min-width: 65em;">
    <div class="col-lg-12 form-group">
      <label class="col-lg-2 control-label">Tên báo cáo</label>
      <div class="col-lg-5">
        <input type="text" nbInput fieldSize="small" fullWidth placeholder="Nick">
      </div>
      <div class="col-lg-3 text-center">
        <button nbButton status="info" size="small" hero>
          Lưu
       </button>
      </div>
    </div>
    <div class="khungdata col-lg-12" style="display: flex;">
      <div class="col-sm-6" style="padding: 0;">
        <div class="col-sm-12" style="padding: 0;">
          <nb-card>
            <nb-card-header>Chỉ tiêu người dùng</nb-card-header>
            <nb-card-body class="total"></nb-card-body>
          </nb-card>
        </div>
        <div class="col-sm-12" style="padding: 0;">
          <nb-card>
            <nb-card-header>Chỉ tiêu kinh doanh</nb-card-header>
            <nb-card-body class="total"></nb-card-body>
          </nb-card>
        </div>

      </div>
      <div class="col-sm-6">
        <nb-card>
          <nb-card-header>Danh sách chỉ tiêu</nb-card-header>
          <nb-card-body class="total"></nb-card-body>
        </nb-card>
      </div>
    </div>


    <div class="col-lg-12 text-center">
      <button nbButton status="info" hero>
         Đóng
      </button>
    </div>
  </div>
</ng-template>
<ng-template #contentTemplate let-data>
  <ngx-tree-unit ></ngx-tree-unit>
</ng-template>
