@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
  input {
    width: 100%;
  }

  .cancel {
    margin-right: 1rem;
  }
  .input-hidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
    border: none;
    margin: 0px;
    padding: 0px;
    display: inherit;
  }
}
.noidung{
  margin-top: 20px;
}
.sizebtn{
  width: 100px;
}
.clearfix {
  display: flex;
}

.valid-error{
  border: 2px solid red;
}

.alert.alert-danger.ng-star-inserted{

  padding: 0;
  color: red;
    border: 0;
    background: transparent;
}
nb-calendar.display.ng-star-inserted{
  left: 50%;
  position: absolute;
  z-index: 10;
  top: 50%;

}
nb-calendar.display1.ng-star-inserted{
  left: 100%;
  position: absolute;
  z-index: 10;
  top: -300%;
}


.ng-valid[required], .ng-valid.required  {
  border-left: 6px solid green;
}

.ng-invalid:not(form)  {
  border-left: 6px solid red;
}
