<ngx-popup title={{title}}>
  <nb-card-body>
    <form name="form" #form="ngForm" (ngSubmit)="form.form.valid && submit()"
          [mustMatch]="['date1', 'date2', 'name', 'code']" novalidate>
      <nb-card-body>
        <div class="noidung row">

          <div class="_1row col-lg-12">
            <div class=" form-group">
              <label class="col-lg-2 control-label">Mã đơn vị <span style="color:red">*</span></label>
              <div class="col-lg-10">
                <input type="text" name="code" class="form-control" [(ngModel)]="data.code"
                       #code="ngModel"
                       [ngClass]="{ 'is-invalid': (code.touched || form.submitted )  && code.invalid }"
                       code fieldSize="small" nbInput fullWidth>
              </div>
            </div>
            <div *ngIf="(code.touched || form.submitted ) && code.invalid"
                 class="alert alert-danger col-md-10 offset-md-2">
              <div style="padding-left: 15px;" *ngIf="code.errors.required">Mã đơn vị không được để trống</div>
              <div style="  padding-left: 15px;" *ngIf="code.errors.maxlength">Mã đơn vị không được quá 50 ký tự</div>
              <div style="  padding-left: 15px;" *ngIf="code.errors.errorHtml">Mã đơn vị không được trùng định dạng Html</div>
              <div *ngIf="code.errors.codeAreas">Lỗi định dạng mã đơn vị</div>
            </div>
          </div>
          <div class="_1row col-lg-12">
            <div class=" form-group">
              <label class="col-lg-2 control-label">Tên đơn vị <span style="color:red">*</span></label>
              <div class="col-lg-10">
                <input type="text" name="name" class="form-control" [(ngModel)]="data.name"
                       #nameAreas="ngModel"
                       [ngClass]="{ 'is-invalid':(nameAreas.touched || form.submitted ) && nameAreas.invalid }"
                       nameAreas fieldSize="small" nbInput fullWidth>
              </div>
            </div>
            <div *ngIf="(nameAreas.touched || form.submitted ) && nameAreas.invalid"
                 class="alert alert-danger col-md-10 offset-md-2">
              <div style="  padding-left: 15px;" *ngIf="nameAreas.errors.required">Tên đơn vị không được để trống</div>
              <div style="  padding-left: 15px;" *ngIf="nameAreas.errors.maxlength">Tên đơn vị không được quá 100 ký tự</div>
              <div style="  padding-left: 15px;" *ngIf="nameAreas.errors.errorHtml">Tên đơn vị không được trùng định dạng Html</div>
            </div>
          </div>
          <div class="_1row col-lg-12">
            <div class=" form-group">
              <label class="col-lg-2 control-label">Đơn vị cha</label>
              <div class="col-lg-10">

              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-lg-6" style="position: relative;">
              <div class="form-group">
                <label class="col-lg-4 control-label">Hiệu lực từ</label>
                <div class="col-lg-8 icon-show" style="position: relative;">
                  <nb-form-field>
                    <input fullWidth="true" name="date1" class="form-control" [(ngModel)]="date1"
                           #timeForm="ngModel" nbInput (ngModelChange)="changeModelDate(true)" />
                    <input name="startDate" id="date" class="input-hidden" [(ngModel)]="data.startDate"
                           nbInput (ngModelChange)="changeDate(true)" [nbDatepicker]="startDatePicker"/>
                    <label for="date" nbSuffix style="cursor: pointer; display: contents">
                      <nb-icon icon="calendar-outline" pack="eva">
                      </nb-icon>
                    </label>
                    <nb-datepicker format="dd/MM/yyyy" #startDatePicker></nb-datepicker>
                  </nb-form-field>
                </div>
              </div>
              <div *ngIf="(timeForm.touched || form.submitted ) && timeForm.invalid" class="alert alert-danger col-md-12">
                <div *ngIf="timeForm.errors.invalidDate">Dữ liệu vừa nhập không hợp lệ</div>
              </div>
            </div>


            <div class="col-lg-6 " style="position: relative;">
              <div class="form-group">
                <label class="col-lg-4 control-label">Hiệu lực đến</label>
                <div class="col-lg-8">
                  <nb-form-field>
                    <input fullWidth="true" name="date2" class="form-control" [(ngModel)]="date2"
                           #timeArrival="ngModel" nbInput (ngModelChange)="changeModelDate(false)" />
                    <input name="endDate" id="date2" class="input-hidden" [(ngModel)]="data.endDate"
                           nbInput (ngModelChange)="changeDate(false)" [nbDatepicker]="endDatePicker"/>
                    <label for="date2" nbSuffix style="cursor: pointer; display: contents">
                      <nb-icon icon="calendar-outline" pack="eva">
                      </nb-icon>
                    </label>
                    <nb-datepicker format="dd/MM/yyyy" #endDatePicker></nb-datepicker>
                  </nb-form-field>
                </div>
              </div>
              <div *ngIf="(timeArrival.touched || form.submitted ) && timeArrival.invalid" class="alert alert-danger col-md-12">
                <div  *ngIf="timeArrival.errors.invalidDate">Dữ liệu vừa nhập không hợp lệ</div>
                <div  *ngIf="timeArrival.errors.errorDate">Thời gian hiệu lực đến phải nhỏ hơn hiệu lực từ</div>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button class="cancel sizebtn" style="float: left;" nbButton size="small" type="reset" (click)="cancel()">
          Cancel
        </button>
        <button class="sizebtn" nbButton style="float: right;" status="info" size="small">Ok</button>
      </nb-card-footer>
    </form>
  </nb-card-body>
</ngx-popup>

<!--<ngx-popup popUp={{popUp1}} title={{title1}}>-->
<!--  <nb-card-body>-->
<!--    <div class="noidung row">-->
<!--      <form  name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" [mustMatch]="['date', 'date1']" novalidate>-->
<!--        <div class="_1row col-lg-12">-->
<!--          <div class=" form-group">-->
<!--            <label class="col-lg-2 control-label">Mã đơn vị <span style="color:red">*</span></label>-->
<!--            <div class="col-lg-10">-->
<!--              <input type="text" name="codeAreas" class="form-control" [(ngModel)]="model.codeAreas" #codeAreas="ngModel" [ngClass]="{ 'is-invalid': (codeAreas.touched || f.submitted )  && codeAreas.invalid }" required codeAreas fieldSize="small" nbInput fullWidth>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div *ngIf="(codeAreas.touched || f.submitted ) && codeAreas.invalid" class="alert alert-danger col-md-10 offset-md-2">-->
<!--            <div style="  padding-left: 15px;"  *ngIf="codeAreas.errors.required">Mã đơn vị không được để trống</div>-->
<!--            <div *ngIf="codeAreas.errors.codeAreas">codeAreas loi dinh dang</div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="_1row col-lg-12">-->
<!--          <div class=" form-group">-->
<!--            <label class="col-lg-2 control-label">Tên đơn vị <span style="color:red">*</span></label>-->
<!--            <div class="col-lg-10">-->
<!--              <input type="text" name="nameAreas" class="form-control" [(ngModel)]="model.nameAreas" #nameAreas="ngModel"-->
<!--                     [ngClass]="{ 'is-invalid':(nameAreas.touched || f.submitted ) && nameAreas.invalid }" required-->
<!--                     nameAreas fieldSize="small" nbInput fullWidth>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div *ngIf="(nameAreas.touched || f.submitted ) && nameAreas.invalid" class="alert alert-danger col-md-10 offset-md-2">-->
<!--            <div style="  padding-left: 15px;" *ngIf="nameAreas.errors.required">Tên đơn vị không được để trống</div>-->
<!--            <div *ngIf="nameAreas.errors.nameAreas">nameAreas loi dinh dang</div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="_1row col-lg-12">-->
<!--          <div class=" form-group">-->
<!--            <label class="col-lg-2 control-label">Đơn vị cha</label>-->
<!--            <div class="col-lg-10">-->
<!--              <input type="text" [(ngModel)]="areasAdd.parenAreas" fieldSize="small" nbInput fullWidth>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="clearfix">-->
<!--          <div class="col-lg-6" style="position: relative;">-->
<!--            <div class="form-group">-->
<!--              <label class="col-lg-4 control-label">Hiệu lực từ</label>-->
<!--              <div class="col-lg-8 icon-show" style="position: relative;">-->
<!--                <nb-form-field>-->
<!--                  <input fullWidth="true" name="date" class="form-control" ngModel="{{date | date:'dd/MM/yyyy'}}"-->
<!--                         #timeForm="ngModel" [ngClass]="{ 'is-invalid': f.submitted && timeForm.invalid }"-->
<!--                         fieldSize="small" nbInput  value="{{date | date:'dd/MM/yyyy' }}">-->
<!--                  <button nbButton type="button" (click)= "displayDate()" nbSuffix size="small" style="border: 1px ; cursor: pointer;">-->
<!--                    <nb-icon  icon="calendar-outline" pack="eva">-->
<!--                    </nb-icon>-->
<!--                  </button>-->
<!--                </nb-form-field>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div *ngIf="(timeForm.touched || f.submitted ) && timeForm.invalid" class="alert alert-danger col-md-12">-->
<!--              <div *ngIf="timeForm.errors.mustMatch">Thời gian định dạng dd/MM/yyyy</div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <nb-calendar class="display" *ngIf="isShow" #timeForm="ngModel" (dateChange)="tesst($event)"-->
<!--                       [(ngModel)]="date"></nb-calendar>-->

<!--          <div class="col-lg-6 " style="position: relative;">-->
<!--            <div class="form-group">-->
<!--              <label class="col-lg-4 control-label">Hiệu lực đến</label>-->
<!--              <div class="col-lg-8">-->
<!--                <nb-form-field>-->
<!--                  <input fullWidth="true" name="date1" class="form-control" ngModel="{{date1 | date:'dd/MM/yyyy'}}"-->
<!--                         #timeArrival="ngModel" [ngClass]="{ 'is-invalid': f.submitted && timeArrival.invalid }"-->
<!--                         fieldSize="small" value="{{date1 | date:'dd/MM/yyyy' }}" nbInput>-->
<!--                  <button nbButton type="button" (click)= "displayDate1()" nbSuffix size="small" style="border: 1px ; cursor: pointer;">-->
<!--                    <nb-icon  icon="calendar-outline" pack="eva">-->
<!--                    </nb-icon>-->
<!--                  </button>-->
<!--                </nb-form-field>-->
<!--                <nb-calendar class="display1" *ngIf="isShow1" [min]="min" #timeArrival="ngModel" (dateChange)="tesst1($event)"-->
<!--                             [(ngModel)]="date1" ></nb-calendar>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div *ngIf="(timeArrival.touched || f.submitted ) && timeArrival.invalid" class="alert alert-danger col-md-12">-->
<!--              <div  *ngIf="timeArrival.errors.mustMatch">Thời gian định dạng dd/MM/yyyy</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <nb-card-footer>-->
<!--          <button class="cancel sizebtn" style="float: left;" nbButton size="small" type="reset" (click)="cancel()">Cancel1</button>-->
<!--          <button class="sizebtn" nbButton style="float: right;" status="info" size="small" (click)="submit()">Ok</button>-->
<!--        </nb-card-footer>-->
<!--      </form>-->

<!--    </div>-->

<!--  </nb-card-body>-->
<!--</ngx-popup>-->

