@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .accordion-container:first-child {
    margin-bottom: nb-theme(card-margin-bottom);
  }
}


.checkbox-radio {
  display: flex;
}
input.input-full-width.size-small.status-basic.shape-rectangle.nb-transition.ng-untouched.ng-pristine.ng-valid {
  cursor: pointer;
}
.demo-items {
  flex: 1 0 33%;
}


button#erase {
  padding: 0 0 0 4%;
  right: 15px;
  width: 15%;
  position: absolute;
  border: none;
  display: inline;
  border-left: 1px solid gray;
  height: 100%;
  text-align: center;
  justify-content: center;

}
.total{
  display: flex;
}
.form-group {
  display: flex;
  align-items: center;
}

