<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Định nghĩa cây đơn vị</nb-card-header>
      <nb-card-body class="">
        <div class="col-sm-12 total">
          <div class="col-lg-6 form-group">
            <input [(ngModel)]="values" nbInput
       fullWidth fieldSize="small" class="input-full-width size-small status-basic shape-rectangle nb-transition">
              <button id="erase">
                <nb-action class="control-item" icon="{{icon}}" title="">
              </nb-action>
              </button>
          </div>
          <div class="col-sm-2">
            <button nbButton status="info" size="small" hero (click)="openWindowSearch(contentSearchTemplate)" >
             Thêm mới
           </button>
           <button nbButton status="info" size="small" hero  >
            Close
          </button>
          </div>
        </div>

        <div class="khungdonvi col-sm-12">
          <ngx-tree-grid></ngx-tree-grid>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>
<ng-template #contentSearchTemplate let-data>
  <div class="" style="min-height: 70vh;
  min-width: 65em;">
    <div class="col-lg-12 form-group">
      <label class="col-lg-2 control-label">Tên báo cáo</label>
      <div class="col-lg-5">
        <input type="text" nbInput fieldSize="small" fullWidth placeholder="Nick">
      </div>
      <div class="col-lg-3 text-center">
        <button nbButton status="info" size="small" hero>
          Lưu
       </button>
      </div>
    </div>
    <div class="khungdata col-lg-12" style="display: flex;">
      <div class="col-sm-6" style="padding: 0;">
        <div class="col-sm-12" style="padding: 0;">
          <nb-card>
            <nb-card-header>Chỉ tiêu người dùng</nb-card-header>
            <nb-card-body class="total"></nb-card-body>
          </nb-card>
        </div>
        <div class="col-sm-12" style="padding: 0;">
          <nb-card>
            <nb-card-header>Chỉ tiêu kinh doanh</nb-card-header>
            <nb-card-body class="total"></nb-card-body>
          </nb-card>
        </div>

      </div>
      <div class="col-sm-6">
        <nb-card>
          <nb-card-header>Danh sách chỉ tiêu</nb-card-header>
          <nb-card-body class="total"></nb-card-body>
        </nb-card>
      </div>
    </div>


    <div class="col-lg-12 text-center">
      <button nbButton status="info" hero (click)="close()">
         Đóng
      </button>
    </div>
  </div>
</ng-template>
