<div class="row" cdkDropListGroup>
<!--  <div class="col-lg-6">-->
<!--    <div cdkDropList [cdkDropListData]="charts">-->
<!--      <nb-card *ngFor="let chart of charts" cdkDrag>-->
<!--        <nb-card-header style="cursor: move" cdkDragHandle>-->
<!--          {{ chart.title }}-->
<!--        </nb-card-header>-->
<!--        <nb-card-body>-->
<!--          <ng-component *ngComponentOutlet="chart.component"></ng-component>-->
<!--        </nb-card-body>-->
<!--      </nb-card>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-lg-6">-->
<!--    <div cdkDropList [cdkDropListData]="charts1">-->
<!--      <nb-card *ngFor="let chart of charts1" cdkDrag>-->
<!--        <nb-card-header style="cursor: move" cdkDragHandle>-->
<!--          {{ chart.title }}-->
<!--        </nb-card-header>-->
<!--        <nb-card-body>-->
<!--          <ng-component *ngComponentOutlet="chart.component"></ng-component>-->
<!--        </nb-card-body>-->
<!--      </nb-card>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-lg-6" *ngFor="let chart of charts">-->
<!--    <nb-card class="nb-header" ngResizable ngDraggable (rzResizing)="onRz($event)" style="height: 100px">-->
<!--      <nb-card-header>-->
<!--        {{ chart.title }}-->
<!--      </nb-card-header>-->
<!--      <nb-card-body>-->
<!--        <ng-component *ngComponentOutlet="chart.component"></ng-component>-->
<!--      </nb-card-body>-->
<!--    </nb-card>-->
<!--  </div>-->
<!--</div>-->

