@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ngx-echarts-pie,
  ngx-echarts-bar,
  ngx-echarts-line,
  ngx-echarts-multiple-xaxis,
  ngx-echarts-area-stack,
  ngx-echarts-bar-animation,
  ngx-echarts-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;
  }

  ::ng-deep .echart {
    height: 100%;
    width: 100%;
  }

  .nb-header {
    cursor: move;
  }

  .nb-card {
    border: 0.5px solid black;
  }

  .nb-body {
    width: 100%;
    height: 100%;
  }
}
